beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
Django==3.2.4
django-model-utils==3.1.2
et-xmlfile==1.0.1
gunicorn==19.9.0
idna==2.8
jdcal==1.4.1
openpyxl==3.0.0

pytz==2019.1
requests==2.22.0
soupsieve==1.9.1
sqlparse==0.3.0
urllib3==1.25.3
whitenoise==4.1.4
psycopg2-binary==2.8.6
djangorestframework==3.12.2
django-cors-headers==3.6.0
django-storages==1.11.1
boto3==1.16.63

iyzipay
