{% extends  'store/main.html' %}
{% load static %}
{% block content %}
  <div class="row align-items-center">
    {% for product in products %}
    <div class="col-lg-4 col-md-6">
      <a href="{% url 'products' product.id %}">
      <img class = "img img-fluid" style="overflow:hidden" src="{{product.imageURL}}" alt="Responsive image">
      </a>
      <div class="box-element product">
        <h6><strong>{{product.name}}</strong></h6>
        <hr>
        <button data-product={{product.id}} data-action ="add" class = "btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
        <a class = "btn btn-outline-success" href="{% url 'products' product.id %}">View</a>
        <h4 style= "display: inline-block; float: right;">${{product.price|floatformat:2}}</h4>

      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}
